:root {
  --font-color-black: #000000;

  --white: #ffffff;
  --black: #000000;
  --light-gray: #c8c8c8;
  --blue: #006eff;
  --orange: #ff5d13;

  --delete-color: tomato;
  --edit-color: green;

  --error-color: tomato;

  --hover-color: #461aff;

  --header-bg-color: #727272;
  --filter-bg-color: #81bfc4;
  --contacts-bg-color: #81bfc4;
  --form-bg-color: #81bfc4;
  --contact-icon-bg-color: #b6dcff;
  --favorite-contacts-bg-color: #81bfc4;
  --no-contacts-bg-color: #81bfc4;

  --xs: 320px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --ul: 1440px
}