@import "./../../styles/mixins.scss";

.favorite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: var(--xl);

  margin: 0 auto;
  padding: 0px 5px 10px 5px;

  background-color: var(--favorite-contacts-bg-color);

  border-radius: 5px;
}